html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #2b187c;
    overflow: hidden;
}

#map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.botao_menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    vertical-align: top;
}

#menuLateral {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -200px;
    bottom: 0;
    width: 200px;
    height: min-content;
    border-radius: 2px;
    background-color: rgb(64, 0, 138);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: left ease-in-out .2s;
    -o-transition: left ease-in-out .2s;
    transition: left ease-in-out .2s;
}

#menuLateral .btn {
    border-radius: 0;
}

#menuLateral button {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.fa-bars, .fa-arrow-left {
    color: rgb(255, 255, 255);
    font-weight: 520;
}

.btn-lg {
    background-color: rgb(64, 0, 138);
    height: auto;
}

.btn:hover {
    background-color: rgb(233, 4, 183);
}

#cadastro, #contato {
    position: fixed;
    z-index: 2;
    top: -600px;
    bottom: 0;
    width: 50%;
    height: min-content;
    padding-bottom: 30px;
    border-radius: 4px;
    background-color: rgba(64, 0, 138 , 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: top ease-in-out .3s;
    -o-transition: top ease-in-out .3s;
    transition: top ease-in-out .3s;
    -webkit-box-shadow: 0px 0px 25px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 25px 20px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 20px rgba(0,0,0,0.5);
}

.close {
    color: rgb(233, 4, 183);
    float: right;
    opacity: initial;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label{
    color: black;
    text-align: left;
    font-size: 16px;
    
}

form h2{
    font-weight: bold; 
    text-align: center;
    color: black; 
}

form input{
    width: max-content;
    margin: 0 0;
    border: none;
    border-radius: 2px;
}


form button{
    background-color: rgb(233, 4, 183);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
   
}


span{
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-align: center;
    
}

textarea{
    width: 100%;
    border-radius: 2px;
    margin: 10px 0;

}

.icons{
    width: 22px;
}

