body {
    background-color: #2b187c; 
}

h1 { 
    text-align: center;
    margin: 0
}

.navbar-default {
    background-color:#6746c3;
}

#map {
    height: 410px;
    border: 1px solid #AAA;
}

a{
    color: rgb(0, 0, 0);
}
 
#map{
    height: 500px;
}