html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Roboto,"Open Sans","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #2b187c;
    overflow: hidden;
}

#map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.botao_menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    vertical-align: top;
}

#menuLateral {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -200px;
    bottom: 0;
    width: 200px;
    height: min-content;
    border-radius: 0  0 8px;
    background-color: rgb(64, 0, 138);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: left ease-in-out .2s;
    -o-transition: left ease-in-out .2s;
    transition: left ease-in-out .2s;
}

#menuLateral .btn {
    border-radius: 0;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox input + i {
    opacity: 0.25;
}

.custom-checkbox input:checked + i {
    opacity: 1;
}

.icons {
    width: 22px;
}

#spotImage {
    max-height: 250px;
}

#facilities {
    font-size: 18px;
}

.thumbnail {
    background-color: inherit;
    border: 0px solid #ddd;
    border-radius: 4px;
}

.logo {
    width: 250px; 
    vertical-align: top;
}

/*.btn-lg {
    background-color: rgb(64, 0, 138);
    height: auto;
}*/

.btn-lg {
    background-color: rgb(64, 0, 138);
    color: #fff;
}

.btn:active, .btn:hover, .btn:focus {
    background-color: rgb(233, 4, 183);
    color: #fff;
}

.close, .close:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    text-shadow: none;
}

.close, .modal-title {
    line-height: 1.42857143;
    font-size: 28px;
}

.modal {
    color: rgb(255, 255, 255);
}

.modal-header, .modal-footer {
    background-color: rgb(40, 0, 85);
    border: 0;
}

.modal-body {
    background-color: rgb(64, 0, 138);
}

#Spot h3 {
    margin: 0 0 10px;
}

.faci {
    background-color: rgb(59, 33, 124);
    padding: 10px 0px;
    border-radius: 8px;
}

#howTo p {
    font-size: 16px;
}

#howTo ol > li{
    margin: 20px 0px;
    font-size: 16px;

}
.form-group > label {
    font-size: 18px;
}

.form-control {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 51, 162);
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: rgba(233, 4, 183,.75);
    -webkit-box-shadow: 0 0 0 3px rgba(233, 4, 183,.3);
    box-shadow: 0 0 0 3px rgba(233, 4, 183,.3);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgb(102, 51, 162);
}

.list-group-item {
    background-color: transparent;
}

.input-group-btn > .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.form-control[size="1"], select.form-control:not([size]), .select-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAUCAQAAACw0XJcAAAAa0lEQVRIx83OsRGAMAwDQO9fsw+jQZGCywWInViWfoK3065EhwHkFSG9vCKsl1OE9vaL8N5esaS3XizrrRVLe/FieS9WpPT8RVrPV6T25kV6778o0fsuyvTei1K9sSjX64uSvaco22tFVu8GQogPsopaMbEAAAAASUVORK5CYII=);
}
