<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel=icon href="images/sk8spots_ICON.svg">
    <title>Sk8Spots</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

   

    <!--ICONES ICOMOON-->
    <link rel="stylesheet" href="lib/icomoon_1/style.css" />

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-1.0.22.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome-1.0.2.min.css" />
    <link rel="stylesheet" href="lib/leaflet/css/leaflet.css" />
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">

    <script type="text/javascript" src="lib/jquery/jquery-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/jquery-validate-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/messages_pt_BR.min.js"></script>
    <script type="text/javascript" src="lib/leaflet/js/leaflet.js"></script>

</head>

<body>

    <div id="map"></div>

    <div class="botao_menu">
        <button type="button" class="btn btn-primary btn-lg" onclick="mostrarMenuLateral()"><i
                class="fa fa-bars"></i></button>
        <img src="images/sk8spots_LOGO_preto@3x.png" class="logo" />
    </div>
    <!--Menu lateral-->
    <div id="menuLateral">
        <div class="clearfix col-xs-space-bottom">
            <button type="button" class="btn btn-danger btn-outline btn-lg" onclick="ocultarMenuLateral()"><i class="fa fa-arrow-left"></i></button>

            <button type="button" class="btn btn-danger btn-outline btn-lg" style="float: right;" onclick="abrirNovoSpot()"><i class="fa fa-plus"></i></button>

            <button type="button" class="btn btn-danger btn-outline btn-lg" style="float: right;" onclick="openSearch()"><i class="fa fa-search"></i></button>
           
            <button type="button" class="btn btn-danger btn-outline btn-lg" style="float: right;" onclick="openHowTo()"><i class="fa fa-question"></i></button>
        </div>

        <label for="chkSkateParks" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkSkateParks" checked onclick="filtrar()" />
            <i class="icon icon-new_skatepark"></i> SkateParks
        </label>
        <label for="chkBowls" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkBowls" checked onclick="filtrar()" />
            <i class="icon icon-new_bowl"></i> Bowls
        </label>
        <label for="chkStreetSpots" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkStreetSpots" checked onclick="filtrar()" />
            <i class="fa fa-road"></i> StreetSpots
        </label>
        <label for="chkDownHill" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkDownHill" checked onclick="filtrar()" />
            <i class="icon icon-new_downhill"></i> DownHill
        </label>
        <label for="chkSkateShops" class="custom-checkbox btn btn-outline btn-primary btn-block col-xs-space-bottom">
            <input type="checkbox" id="chkSkateShops" checked onclick="filtrar()" />
            <i class="fa fa-shopping-cart"></i> SkateShops
        </label>
        <!--
        <button type="button" class="btn btn-outline btn-primary btn-block" onclick="abrirCadastro()"><i
                class="fa fa-sign-in"></i> Sign in</button>  -->
    </div>


    <!--Spot Details-->
    <%- include("modalSpot") %>

    <!--Search Spot-->
    <%- include("searchSpot") %>

    <!--Add new Spot-->
    <%- include("addSpot") %>

    <!--HOW TO ADD NEW SPOT?-->
    <div class="modal fade" tabindex="-1" role="dialog" id="howTo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Como adicionar um Spot</h4>
                </div>
                <div class="modal-body">
                    <h3>Seja um colaborador</h3>
                    <p>Ajude-nos a crescer a comunidade adicionando novos Sk8Spots ao mapa.</p>

                    <hr />

                <h3>Como eu faço isso?</h3>
                    <ol>
                        <li>Muito simples! Basta saber o endereço e ter uma foto do Spot.</li>
                        <li>É preferível que você esteja no lugar para tirar uma foto, dessa forma outros podem ver como é!</li>
                        <li>Então bora pra session, pegue o seu board e compartilhe o seu primeiro Sk8Spot!</li>
                    </ol>
                   
                    

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


    <!--INICIO DO SCRIPT-->

    <!--Script menu lateral-->
    <script type="text/javascript">

        var menuLateralVisivel = false;

        function tratarDocumentClick(e) {
            var menuLateral = document.getElementById("menuLateral");

            var pai = e.target;
            while (pai && pai !== document.body) {
                if (pai === menuLateral) {
                    return;
                }
                pai = pai.parentNode;
            }
            
            ocultarMenuLateral();
        }

        function mostrarMenuLateral() {
            if (menuLateralVisivel) {
                return;
            }
            document.addEventListener("click", tratarDocumentClick, true);
            menuLateralVisivel = true;
            document.getElementById("menuLateral").style.left = "0px";
        }

        function ocultarMenuLateral() {
            if (!menuLateralVisivel) {
                return;
            }
            document.removeEventListener("click", tratarDocumentClick, true);
            menuLateralVisivel = false;
            document.getElementById("menuLateral").style.left = "";
        }

        function openHowTo() {
            // fecharContato();
            ocultarMenuLateral();
            //document.getElementById("newSpot").style.top = "13%";
            $("#howTo").modal({
                backdrop: "static",
                keyboard: true
            });
        }

        function closeHowTo() {
            //document.getElementById("newSpot").style.top = "";
            $("#howTo").modal("hide");
        }

    </script>


    <%- include("mapa") %>

</body>

</html>
