<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel=icon href="images/sk8spots_ICON.svg">
    <title>Sk8Spots</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!--ICONES ICOMOON-->
    <link rel="stylesheet" href="lib/icomoon_1/demo-files/demo.css">
    <link rel="stylesheet" href="lib/icomoon_1/style.css">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-1.0.22.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome-1.0.2.min.css" />
    <link rel="stylesheet" href="lib/leaflet/css/leaflet.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <script type="text/javascript" src="lib/jquery/jquery-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/jquery-validate-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/messages_pt_BR.min.js"></script>
    <script type="text/javascript" src="lib/leaflet/js/leaflet.js"></script>

</head>

<body>

    <div id="map"></div>

    <div class="botao_menu">
        <button type="button" class="btn btn-primary btn-outline btn-lg" onclick="mostrarMenuLateral()"><i
                class="fa fa-bars"></i></button>
        <img src="images/sk8spots_LOGO_preto@3x.png" width="250" style="vertical-align: top;" />
    </div>
    <!--Menu lateral-->
    <div id="menuLateral">
        <button type="button" class="btn btn-default btn-outline btn-lg" onclick="ocultarMenuLateral()"><i
                class="fa fa-arrow-left" style="margin-right: 95px;"></i></button>

        <button type="button" class="btn btn-default btn-outline btn-lg" onclick="abrirNovoSpot()"><i
                class="fa fa-plus"></i></button>

        <button href="#" class="btn btn-outline btn-primary btn-block"><i class="icon icon-new_skatepark"></i>
            SkateParks</button>
        <button href="#" class="btn btn-outline btn-primary btn-block"><i class="icon icon-new_bowl"></i> Bowls</button>
        <button href="#" class="btn btn-outline btn-primary btn-block"><i class="fa fa-road"></i> StreetSpots</button>
        <button href="#" class="btn btn-outline btn-primary btn-block"><i class="icon icon-new_downhill"></i>
            DownHill</button>
        <button href="#" class="btn btn-outline btn-primary btn-block"><i class="fa fa-shopping-cart"></i>
            SkateShops</button>
        <!--
        <button type="button" class="btn btn-outline btn-primary btn-block" onclick="abrirCadastro()"><i
                class="fa fa-sign-in"></i> Sign in</button>
        <button type="button" class="btn btn-outline btn-primary btn-block" onclick="abrirContato()"><i
                class="fa fa-envelope"></i> Contact Us</button> -->
    </div>

    <!--Sign in form
    <div id="cadastro" class="col-sm-6 col-sm-offset-3 col-sm-offset-right-3">
        <div class="conteudo-cadastro">

            <button type="button" class="close" onclick="fecharCadastro()">&times;</button>
            <form action="">
                <h2>Sign Up</h2>
                <div>
                    <label for="POST-userName">Full Name:</label>
                    <input type="text" id="POST-userName" > </br>
                    <label for="POST-userEmail">Email Address:</label>
                    <input type="email" id="POST-userEmail" spellcheck="false"> </br>
                    <label for="userPwd">Password:</label>
                    <input type="password" id="userPwd" placeholder="Password"> </br>
                    <label for="userPwd2">Repeat Password:</label>
                    <input type="password" id="userPwd2" placeholder="Repeat Password">
                </div>


                <button type="submit" href="/">Create user</button>
            </form>

        </div>
    </div>    -->

    <!--Contate-nos
    <div id="contato" class="col-sm-6 col-sm-offset-3 col-sm-offset-right-3">
        <div class="conteudo-cadastro">

            <button type="button" class="close" onclick="fecharContato()">&times;</button>
            <form action="">
                <h2>Contact Us</h2>
                <div>
                    <label for="contactName">Full Name:</label>
                    <input type="text" id="contactFname" placeholder="First Name"> </br>
                    <label for="contactEmail">Email Address</label>
                    <input type="email" id="contactEmail" placeholder="Email" spellcheck="false"> </br>
                    <label for="contactPhone">Phone Number</label>
                    <input type="tel" id="contactPhone" placeholder="Phone Number">
                </div>
                <span>Message:</span>
                <div>
                    <textarea rows="4"></textarea>
                </div>
                <button type="submit" href="/">Submit</button>
            </form>

        </div>
    </div>   -->

    <!--Add new Spot-->
    <div class="modal fade" tabindex="-1" role="dialog" id="newSpot">
        <div class="modal-dialog">
          <form class="modal-content" id="formAdd">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title">Add New Spot</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" id="latitude" name="latitude" />
                <input type="hidden" id="longitude" name="longitude" />
                <div class="form-group">
                    <label for="nome">Spot Name:</label>
                    <input type="text" class="form-control" id="nome" name="nome" />
                </div>
                <div class="form-group">
                    <label for="idtipo">Spot Kind:</label>
                    <select id="idtipo" class="form-control" name="idtipo" size="1">
                        <option selected="selected" value="0">Selecione...</option>
                        <option value="1">SkatePark</option>
                        <option value="2">Bowl</option>
                        <option value="3">StreetSpot</option>
                        <option value="4">DownHill</option>
                        <option value="5">SkateShop</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="endereco">Spot Address:</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Ex: Rua Jaraguá, 627" maxlength="100" />
                </div>
                <div class="form-group">
                    <label for="bairro">Spot Neighborhood:</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Ex: Bom Retiro" maxlength="50" />
                </div>
                <div class="form-group">
                    <span>Spot Facilities:</span> <br />
                    <label for="isSkatepark">SkatePark</label>
                    <input type="checkbox" id="isSkatepark" name="instalacoes" value="1" />
                    <label for="isBowl">Bowl</label>
                    <input type="checkbox" id="isBowl" name="instalacoes" value="2" />
                    <label for="isStreetspot">StreetSpot</label>
                    <input type="checkbox" id="isStreetspot" name="instalacoes" value="3" />
                    <label for="isDownhill">DownHill</label>
                    <input type="checkbox" id="isDownhill" name="instalacoes" value="4" />
                    <label for="isSkateshop">SkateShop</label>
                    <input type="checkbox" id="isSkateshop" name="instalacoes" value="5" />
                </div>
                <div class="form-group">
                    <label for="image"><span>Pictures:</span> </label>
                    <input type="file" class="form-control" id="image" name="image" accept="image/*" />
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Add Spot</button>
            </div>
          </div>
        </div>
      </div>

    <!--INICIO DO SCRIPT-->

    <!--Script New Spot-->
    <script type="text/javascript">
        function abrirNovoSpot() {
            // fecharContato();
            ocultarMenuLateral();
            //document.getElementById("newSpot").style.top = "13%";
            $("#newSpot").modal({
                backdrop: "static",
                keyboard: true
            });
        }

        function fecharNovospot() {
            //document.getElementById("newSpot").style.top = "";
            $("#newSpot").modal("hide");
        }

        $("#formAdd").validate({
            rules: {
                nome: {
                    required: true,
                    minlength: 3,
                    maxlength: 100
                },
                idtipo: {
                    required: true
                },
                endereco: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                bairro: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                image: {
                    required: true
                }
            },
            submitHandler: function (form) {
                
                var formData = new FormData(form);

                $.ajax({
                    url: "api/local/criar",
                    method: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        fecharNovospot();
                        form.reset();
                        alert("Criado com sucesso!");
                        location.reload();
                    },
                    error: function () {
                        alert("Erro!");
                    }
                });

            }
        });
    </script>

    <!--Script menu lateral-->
    <script type="text/javascript">
        function mostrarMenuLateral() {
            document.getElementById("menuLateral").style.left = "0px";
        }

        function ocultarMenuLateral() {
            document.getElementById("menuLateral").style.left = "";
        }
    </script>

    <!--Script cadastro
    <script type="text/javascript">
        function abrirCadastro() {
            fecharContato();
            ocultarMenuLateral();
            fecharNovospot();
            document.getElementById("cadastro").style.top = "13%";
        }

        function fecharCadastro() {
            document.getElementById("cadastro").style.top = "";
        }

    </script>  -->

    <!--Script contate-nos
    <script type="text/javascript">
        function abrirContato() {
            fecharCadastro();
            ocultarMenuLateral();
            fecharNovospot();
            document.getElementById("contato").style.top = "13%";
        }

        function fecharContato() {
            document.getElementById("contato").style.top = "";
        }
    </script>  -->

    <!--Script mapa-->
    <script type="text/javascript">
        var locais = <%- locais %>;
        var map = L.map("map", {
            zoomControl: false
        });

        L.control.zoom({
            position: "topright"
        }).addTo(map);

        function onMarkerClick() {
            var local = this.local;
            
            var popup = L.popup()
                .setLatLng([local.latitude, local.longitude])
                .setContent('<p>' + local.nome + '</p>')
                .openOn(map);
        }

        function iniciarMapa(lat, lng) {
            var latlng = new L.LatLng(lat, lng);
            map.setView(latlng, 14);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a', 'b', 'c'],
                center: [latlng],
                minZoom: 10,
                zoom: 14
            }).addTo(map);

            var highDpi = (("matchMedia" in window) && (highDpi = window.matchMedia("(min-resolution: 150dpi)")) && highDpi.matches),
                icons = [
                    null,

                    L.icon({
                        iconUrl: (highDpi ? "/images/markers/park2_marker@2x.png" : "/images/markers/park2_marker.png"),
                        iconSize: [25, 34],
                        iconAnchor: [12, 34],
                        popupAnchor: [0, 0]
                    }),

                    L.icon({
                        iconUrl: (highDpi ? "/images/markers/bowl_marker@2x.png" : "/images/markers/bowl_marker.png"),
                        iconSize: [25, 34],
                        iconAnchor: [12, 34],
                        popupAnchor: [0, 0]
                    }),

                    L.icon({
                        iconUrl: (highDpi ? "/images/markers/street_marker@2x.png" : "/images/markers/street_marker.png"),
                        iconSize: [25, 34],
                        iconAnchor: [12, 34],
                        popupAnchor: [0, 0]
                    }),

                    L.icon({
                        iconUrl: (highDpi ? "/images/markers/down_marker@2x.png" : "/images/markers/down_marker.png"),
                        iconSize: [25, 34],
                        iconAnchor: [12, 34],
                        popupAnchor: [0, 0]
                    }),

                    L.icon({
                        iconUrl: (highDpi ? "/images/markers/shop_marker@2x.png" : "/images/markers/shop_marker.png"),
                        iconSize: [25, 34],
                        iconAnchor: [12, 34],
                        popupAnchor: [0, 0]
                    })
                ];

            for (var i = 0; i < locais.length; i++) {
                var marker = L.marker([locais[i].latitude, locais[i].longitude], {
                        icon: icons[locais[i].idtipo]
                    })
                    .addTo(map);
                marker.local = locais[i];
                locais[i].marker = marker;
                locais[i].indice = i;
                marker.on('click', onMarkerClick);
            }

            map.on('click', function (e) {
                //var popup = L.popup()
                //    .setLatLng([e.latlng.lat, e.latlng.lng])
                //    .setContent('<p><a href="/timeout/criar?lat=' + encodeURIComponent(e.latlng.lat) + '&lng=' + encodeURIComponent(e.latlng.lng) + '">Adicionar localização</a></p>')
                //    .openOn(map);

                document.getElementById("latitude").value = e.latlng.lat;
                document.getElementById("longitude").value = e.latlng.lng;

                abrirNovoSpot();
            });
        }

        if (location.href.indexOf("https://") === 0) { // || (location.href.indexOf("localhost") >= 0) {
            navigator.geolocation.getCurrentPosition(function (location) {
                iniciarMapa(location.coords.latitude, location.coords.longitude);
            });
        } else {
            iniciarMapa(-23.611178, -46.696075);
        }

    </script>
</body>

</html>
