<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel=icon href="images/sk8spots_ICON.svg">
    <title>Sk8Spots</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!--ICONES ICOMOON-->
    <link rel="stylesheet" href="lib/icomoon_1/style.css" />

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-1.0.22.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome-1.0.2.min.css" />
    <link rel="stylesheet" href="lib/leaflet/css/leaflet.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <script type="text/javascript" src="lib/jquery/jquery-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/jquery-validate-1.0.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validate/js/messages_pt_BR.min.js"></script>
    <script type="text/javascript" src="lib/leaflet/js/leaflet.js"></script>

</head>

<body>

    <div id="map"></div>

    <div class="botao_menu">
        <button type="button" class="btn btn-primary btn-outline btn-lg" onclick="mostrarMenuLateral()"><i
                class="fa fa-bars"></i></button>
        <img src="images/sk8spots_LOGO_preto@3x.png" width="250" style="vertical-align: top;" />
    </div>
    <!--Menu lateral-->
    <div id="menuLateral">
        <button type="button" class="btn btn-default btn-outline btn-lg" onclick="ocultarMenuLateral()"><i
                class="fa fa-arrow-left" style="width: 55px;"></i></button>

        <button type="button" class="btn btn-default btn-outline btn-lg" onclick="openSearch()"><i
                class="fa fa-search"></i></button>

        <button type="button" class="btn btn-default btn-outline btn-lg" onclick="openHowTo()"><i
                class="fa fa-plus"></i></button>

        <label for="chkSkateParks" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkSkateParks" checked onclick="filtrar()" />
            <i class="icon icon-new_skatepark"></i> SkateParks
        </label>
        <label for="chkBowls" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkBowls" checked onclick="filtrar()" />
            <i class="icon icon-new_bowl"></i> Bowls
        </label>
        <label for="chkStreetSpots" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkStreetSpots" checked onclick="filtrar()" />
            <i class="fa fa-road"></i> StreetSpots
        </label>
        <label for="chkDownHill" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkDownHill" checked onclick="filtrar()" />
            <i class="icon icon-new_downhill"></i> DownHill
        </label>
        <label for="chkSkateShops" class="custom-checkbox btn btn-outline btn-primary btn-block">
            <input type="checkbox" id="chkSkateShops" checked onclick="filtrar()" />
            <i class="fa fa-shopping-cart"></i> SkateShops
        </label>
        <!--
        <button type="button" class="btn btn-outline btn-primary btn-block" onclick="abrirCadastro()"><i
                class="fa fa-sign-in"></i> Sign in</button>  -->
    </div>

    <!--Sign in form
    <div id="cadastro" class="col-sm-6 col-sm-offset-3 col-sm-offset-right-3">
        <div class="conteudo-cadastro">

            <button type="button" class="close" onclick="fecharCadastro()">&times;</button>
            <form action="">
                <h2>Sign Up</h2>
                <div>
                    <label for="POST-userName">Full Name:</label>
                    <input type="text" id="POST-userName" > </br>
                    <label for="POST-userEmail">Email Address:</label>
                    <input type="email" id="POST-userEmail" spellcheck="false"> </br>
                    <label for="userPwd">Password:</label>
                    <input type="password" id="userPwd" placeholder="Password"> </br>
                    <label for="userPwd2">Repeat Password:</label>
                    <input type="password" id="userPwd2" placeholder="Repeat Password">
                </div>


                <button type="submit" href="/">Create user</button>
            </form>

        </div>
    </div>    -->

    <!--Spot Details-->
    <%- include("modalSpot") %>

    <!--Search Spot-->
    <%- include("searchSpot") %>

    <!--Add new Spot-->
    <%- include("addSpot") %>

    <!--HOW TO ADD NEW SPOT?-->
    <div class="modal fade" tabindex="-1" role="dialog" id="howTo">
        <div class="modal-dialog">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Adding new spot</h2>
            </div>
            <div class="modal-body">
                <h3>Be a collaborative</h3>
                <p>Help us to grow our community by adding new Sk8Spots to the map.</p>

                <hr />

                <h3>How can I add a new Spot?</h3>
                <ol>
                    <li>In order to do it, you just have to click on the map where the spot is located at, it's
                        preferable to be at your spot. </li>
                    <li>That way you can take great pictures to show others how it looks.</li>
                    <li>So let's get a move on, take your board and go unlock your first Sk8Spot!</li>
                </ol>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>


    <!--INICIO DO SCRIPT-->

    <!--Script menu lateral-->
    <script type="text/javascript">
        function mostrarMenuLateral() {
            document.getElementById("menuLateral").style.left = "0px";
        }

        function ocultarMenuLateral() {
            document.getElementById("menuLateral").style.left = "";
        }

        function openHowTo() {
            // fecharContato();
            ocultarMenuLateral();
            //document.getElementById("newSpot").style.top = "13%";
            $("#howTo").modal({
                backdrop: "static",
                keyboard: true
            });
        }

        function closeHowTo() {
            //document.getElementById("newSpot").style.top = "";
            $("#howTo").modal("hide");
        }

    </script>

    <!--Script cadastro
    <script type="text/javascript">
        function abrirCadastro() {
            fecharContato();
            ocultarMenuLateral();
            fecharNovospot();
            document.getElementById("cadastro").style.top = "13%";
        }

        function fecharCadastro() {
            document.getElementById("cadastro").style.top = "";
        }

    </script>  -->

    <%- include("mapa") %>

</body>

</html>